.body {
    padding: 0;
    margin: 0;
  }

.active {
  font-weight: bold;
  fill: aqua;
  fill: aqua;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
  color: aqua
}

.inactive {
  font-weight: lighter;
  fill: #551aaf;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
  color: black;
}

.inactive:hover {
  fill: #e75480;
  cursor: pointer;
  color: gold;
}

.cesium-credit-logo-Container {
  width: 138px;
  height: 28px;
}

.cesium-viewer-bottom {
  width: 138px;
  height: 28px;
}

#map,
body,
html {
  height: 100%;
}

.leaflet-popup-content {
  text-align: center;
}

/* CSS from the Leaflet-Choropleth documentation
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
} */

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}

h1 {
  text-align: center;
}

.container {
    margin: 20px;
}
.btn {
    padding: 8px, 24px;
    color: white;
    display: incline-block;
    opacity: 0.8;
    background-color: #239b76;
    border-radius: 4px;
    padding: 20px 50px;
}

.btn-wrapper {
    margin: 20px;
    text-align: center;
}

.btn :hover{
    opacity: 1;
}
  
/* Stylesheet for State Page */

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  display: none; 
}
}

.svg-container {
  width: 555;
  height: 555;
}

.fun-facts {
  margin: 0px;
}

