.container {
    margin: 20px;
}
.btn {
    padding: 8px, 24px;
    color: white;
    display: incline-block;
    opacity: 0.8;
    background-color: #239b76;
    border-radius: 4px;
    padding: 20px 50px;
}

.btn-wrapper {
    margin: 20px;
    text-align: center;
}

.btn :hover{
    opacity: 1;
}
  