<!-- Any changes for the layout will be added later (Jun 24th) -->
<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="utf-8">
                <title>Kentucky State Dashboard</title>
                <link rel="stylesheet" type="text/css" href="../static/css/style.css">
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
                <script src="https://cesiumjs.org/releases/1.58/Build/Cesium/Cesium.js"></script>
                <link href="https://cesiumjs.org/releases/1.58/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
                
                <!-- Bootstrap -->
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
                <script type="text/javascript" src="../static/js/illinois.js"></script>
                <!-- Bootstrap end-->
          </head>
    
	<body>
        <!-- NavBar from Bootstrap -->
    <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <!-- <a class="navbar-brand" href="#">Logo</a> -->
              </div>
              
              <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ url_for('.home') }}">Home</a></li>    
                        <li><a href="{{ url_for('.Illinois') }}">Illinois</a></li>
                        <li><a href="{{ url_for('.Texas') }}">Texas</a></li>
                        <li><a href="{{ url_for('.Kentucky') }}">Kentucky</a></li>
                        <li><a href="{{ url_for('.About') }}">About</a></li>
                    </ul>
                <!-- <ul class="nav navbar-nav navbar-right">
                  <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul> -->
              </div>
            </div>
          </nav>
          <!-- End Nav Bar -->
		<div class="container">
            <div class="row">
              <div class="col-xs-12 col-md-12">
                <h1>Kentucky Data Dashboard</h1>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript" src="../static/js/kentucky.js"></script>
        <script type="text/javascript" src="../static/js/app(brickey).js"></script>

        <!-- Brickey -->
        <div id="cesiumContainer" style="width: 700px; height:400px"></div>
        
        <script>
          Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIzN2M3YTE2YS1kOTU3LTRhMzQtYWU4Ni02YTIyYmNhODc4MTciLCJpZCI6MTI1MjUsInNjb3BlcyI6WyJhc2wiLCJhc3IiLCJhc3ciLCJnYyJdLCJpYXQiOjE1NjEyMjIzODR9.jfV2uxgm2xI3e8Sc2k6cyx2oaR9QnJtncIuNRNt3Q8k';
          var Location = "KY";
        </script>

        <!-- Mina -->
        <div id="contents">
            <div id="pie"></div>
            <div id="line-elec"></div>
            <div id="line-cons"></div>
            <div id="line-prod"></div>
        </div> 

    </body>

</html>